app:
  base-url: https://api.primeira.app.br  # ou IP público da VM se ainda não tiver domínio
  frontend-base-url: https://primeira.app.br

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 15MB
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:5432/storehousedb
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            user-name-attribute: email

isbndb:
  api-key: ${ISBNDB_API_KEY}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

server:
  forward-headers-strategy: framework

project:
  storage:
    despesa-bucket: despesas-files
    default-bucket: storehouse-images
    buckets:
      - name: storehouse-images
        provider: oracle
        region: sa-saopaulo-1
        namespace: grz9zu8hdz2q
        user-id: ${OCI_USER_ID}
        tenant-id: ${OCI_TENANCY_ID}
        fingerprint: ${OCI_FINGERPRINT}
        private-key: ${OCI_PRIVATE_KEY_PATH}
      - name: despesas-files
        provider: oracle
        region: sa-saopaulo-1
        namespace: grz9zu8hdz2q
        user-id: ${OCI_USER_ID}
        tenant-id: ${OCI_TENANCY_ID}
        fingerprint: ${OCI_FINGERPRINT}
        private-key: ${OCI_PRIVATE_KEY_PATH}